
body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
 }

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}



.navbar .navbar-brand{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .collapse{
    margin-left: 500px;
}

.navbar .collapse .navbar-nav .nav-item a{
    color: rgba(196, 192, 192,0.7);
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 400;
    margin-right: 50px;
    font-size: 1.2rem;
}

#title .row .col-lg-6{
    margin-top: 80px;
}
#title .row .col-lg-6 h1{
    font-weight: 1000;
    color: white;
    line-height: 1.5;
    font-size: 3.5rem;
    margin-bottom: 45px;
}

#title .row .col-lg-6 img{
    transform: rotate(25deg);
    width: 60%;
    margin-left: 50px;
}

#title .row .col-lg-6 button{
    margin: 5% 3% 5% 0;
}

/* features */

#features{
    padding: 10% 10%;
}
#features .row .col-lg-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#features h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
}

#features p{
    width: 70%;
    color: #8f8f8f;
    text-align: center;
}

#features i{
    color: #ef8172;
}

#features i:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}